@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        You're logged in as
        <strong>@User.Claims.First(c => c.Type == ClaimsIdentity.DefaultNameClaimType).Value</strong>
    </p>
</div>