@model web_lab2.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="row m-5 justify-content-center">
    <form asp-action="Register" asp-anti-forgery="true"
          class="row col-4 justify-content-center bg-light text-white rounded-3">
        <h4 class="text-secondary text-center mb-3 mt-3">
            Register
        </h4>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="input-group mb-3">
            <input type="text" asp-for="Username" placeholder="Username"
                   class="form-control">
            <span asp-validation-for="Username" class="invalid-feedback" style="display: block;"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="Password" placeholder="Password"
                   class="form-control">
            <span asp-validation-for="Password" class="invalid-feedback" style="display: block;"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="ConfirmPassword" placeholder="Confirm password"
                   class="form-control">
            <span asp-validation-for="ConfirmPassword" class="invalid-feedback" style="display: block;"></span>

        </div>
        <div class="d-flex mb-3 justify-content-center" style="gap: 10px">
            <input type="submit" value="Register" class="btn btn-success">
            <a asp-action="Login" class="btn btn-secondary">Login</a>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>